/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  box-shadow: gray;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  margin: 0 30px;
  list-style-type: none;
}

.bodyComponent {
  margin-top: 100px;
}

.searchInput {
  margin-left: 20px;
}

.searchLabel {
  margin: 10px;
}

.restaurantCard {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 250px;
}

.restaurantCards a {
  color: inherit;
}

.shimmerCard {
  background-color: gray;
  width: 30%;
  margin: 10px;
  height: 300px;
}

.restaurantCard > img {
  border-radius: 10px;
}

.restaurantCard:hover {
  cursor: pointer;
}

.restaurantCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.menu-container {
  text-align: center;
}

.menu-container p {
  font-size: larger;
}

.restaurant-category-container {
  width: 50%;
  background-color: lightgrey;
  margin: auto;
  padding: 20px;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.item-list-item {
  width: 25%;
  padding: 16px;
}

.add-button {
  padding: 8px;
  margin-left: 64px;
  margin-right: 64px;
  border-radius: 8px;
  background-color: rgb(0 0 0);
  color: rgb(255 255 255);
}

.item-image {
  width: 100%;
}

